<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Das Buch</a>
  </li>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/quellcode/">Quellcode</a>
  </li>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/autoren/">Autoren</a>
  </li>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/errata/">Errata</a>
  </li>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/kontakt/">Kontakt</a>
  </li>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">Ändern auf </span>GitHub</a>
  </li>
</ul>
